/Homework/test/build/
/Homework/test/dist/
/Homework/test_2/build/
/Homework/test_2/dist/
/Homework/Hello World/build/
/Homework/Hello World/dist/
/Homework/Gaddis_7thED_CHAP2_PROBLEM4/build/
/Homework/Gaddis_7thED_CHAP2_PROBLEM4/dist/
/Homework/Gaddis_7thED_Chap2_Prob3/build/
/Homework/Gaddis_7thED_Chap2_Prob3/dist/
/Homework/Gaddis_7thED_Chap2_Problem5/build/
/Homework/Gaddis_7thED_Chap2_Problem5/dist/
/Homework/Gaddis_7thED_Chap2_Problem 6/build/
/Homework/Gaddis_7thED_Chap2_Problem 6/dist/
/Homework/Gaddis_7thED_Chapter2_Problem7/build/
/Homework/Gaddis_7thED_Chapter2_Problem7/dist/
/Homework/Gaddis_7thED_Chapter2_Prob8/build/
/Homework/Gaddis_7thED_Chapter2_Prob8/dist/
/Homework/Gaddis_7thEd_Chap2_Problem9/build/
/Homework/Gaddis_7thEd_Chap2_Problem9/dist/
/Homework/Gaddis_7thEd_Chap2_Problem10/build/
/Homework/Gaddis_7thEd_Chap2_Problem10/dist/
/Homework/Gaddis_7thEd_Chap2_Problem6/build/
/Homework/Gaddis_7thEd_Chap2_Problem6/dist/
/Homework/Gaddis_7thED_Chap2_Problem2/build/
/Homework/Gaddis_7thED_Chap2_Problem2/dist/
/Homework/GADDIS _7thEd_Chap2_Problem1/build/
/Homework/GADDIS _7thEd_Chap2_Problem1/dist/
/Homework/Gaddis_7thED_Chap3_Problem 1/build/
/Homework/Gaddis_7thED_Chap3_Problem 1/dist/
/Homework/MONDAYTEST/build/
/Homework/MONDAYTEST/dist/
/Homework/Test/build/
/Homework/Test/dist/